path "secret/data/{{ '{{' }}identity.entity.aliases.{{ nomad_vault_method_accessor }}.metadata.nomad_namespace{{ '}}' }}/{{ '{{' }}identity.entity.aliases.{{ nomad_vault_method_accessor }}.metadata.nomad_job_id{{ '}}' }}/*" {
  capabilities = ["read"]
}

path "secret/data/{{ '{{' }}identity.entity.aliases.{{ nomad_vault_method_accessor }}.metadata.nomad_namespace{{ '}}' }}/{{ '{{' }}identity.entity.aliases.{{ nomad_vault_method_accessor }}.metadata.nomad_job_id{{ '}}' }}" {
  capabilities = ["read"]
}

path "secret/data/{{ '{{' }}identity.entity.aliases.{{ nomad_vault_method_accessor }}.metadata.nomad_namespace{{ '}}' }}" {
  capabilities = ["read"]
}

path "secret/metadata/{{ '{{' }}identity.entity.aliases.{{ nomad_vault_method_accessor }}.metadata.nomad_namespace{{ '}}' }}/*" {
  capabilities = ["list"]
}

path "secret/metadata/*" {
  capabilities = ["list"]
}
